#description{
    color:cornflowerblue;
    text-align: center;
}

#nggyu{
    text-align: right;
    border-width: 10px;
}
#nggyu:hover{
    transform: translateX(-100px);
}

#cal{
    text-align: center;
}

#submit_img{
    text-align: center;
}

.img{
    float:inherit;
}
